<!DOCTYPE html>
<html>
	<head>

		<title>Home</title>
		<meta charset="utf-8">
      <%= stylesheet_link_tag  'bootstrap.min.css' %>
      <%= stylesheet_link_tag  'style' %>

      <!--link rel="stylesheet" href="style.css" type="text/css"-->
      <!--link href="bootstrap.min.css" rel="stylesheet"-->
	</head>
<body> 
<div id="wrap">


  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide cont-slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <%@popular_books.each do %>

            <li data-target="#carousel-example-generic" data-slide-to="<%=@counter%>" <%if @counter == 0%>class="active"<%end%>>
                <%@counter+=1%>
           <%end%>



          </ol>
          <!-- Обгортка для слайдів -->
          <%@counter=0%>
          <div class="carousel-inner" role="listbox">
            <%@popular_books.each do |p|%>
                <%if @counter == 0%>
                    <div class="item active">
                <%else%>
                    <div class="item">
                <%end%>
              <%=image_tag(p.book_image.url(:original)) %>

              <div class="carousel-caption slide-item">
                <h3><%=p.name%></h3>
                <p>
                  <%=p.description%>
                </p>
              </div>
            </div>
                <%@counter+=1%>
            <%end%>
          </div>
          <!-- Управління -->
          <a class="left carousel-control slide-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Prev</span>
          </a>
          <a class="right carousel-control slide-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="books row">
      <%@new_books.each do |n|%>
      <div class="book col-md-4 ">
        <a href="#">

          <%=link_to (image_tag(n.book_image.url(:medium))),n %>
          <h4><%=n.name%></h4>
          <p>
            <%=n.description%>
          </p>
        </a>
      </div>
     <%end%>
    </div>
  </div>

  <footer id="foot">
    <div class="container">
      <hr>
      <div class="ico_logo">

                <%= image_tag ("ico_logo.png") %>
        <p>
          LinkUp Studio<br>
          all rights reserved
        </p>
      </div>
      <div id="social">

                  <%= image_tag ("ico_tw.png") %>

                  <%= image_tag ("ico_google.png") %>

                  <%= image_tag ("ico_fb.png") %>
      </div>
    </div>
  </footer>
</div> 
</body>
</html>